@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #FFFFFF;
  --primary-text-color:#000000;


}

@media (prefers-color-scheme: dark) {
  :root {
  --primary-color-dark: #000000;
  --primary-text-color-dark:#FFFFFF;
  }
}
@layer base {
  body.light-mode {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

  body.dark-mode {
    background-color: var(--primary-color-dark);
    color: var(--primary-text-color-dark);
  }

  @font-face {
    font-family: 'Archivo';
    src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Archivo-light';
    src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Light.otf') format('opentype');
  }
  @font-face {
    font-family: 'Archivo-thin';
    src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Thin.otf') format('opentype');
  }
  @font-face {
    font-family: 'Archivo-italics';
    src: url('../app/Assets/Fonts/Archivo/OTF/Archivo-Italic.otf') format('opentype');
  }

}

@layer utilities {

  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

  .center{
    @apply mx-9;
  }
  .purple-section {
   @apply w-full bg-[#d6cef2] rounded-t-3xl ;
  }

  .box-one{
    @apply w-96 h-72 bg-[#f9f9f9] rounded-3xl;
  }
  .box-two{
    @apply w-80 h-96 bg-[#d6cef2] rounded-3xl;
  }
  .carousel-box{
    @apply w-[350px] bg-[#d6cef2] h-[400px] rounded-2xl;
  }
  /* Texts */
  .section-heading{
    @apply text-black text-8xl font-thin font-['Archivo-thin'] leading-tight mt-7 mb-24;
  }
  .small-title{
    @apply  text-black text-xl mt-12 mb-32 font-normal font-['Archivo'];
  }
  .footer-text{
    @apply text-center text-[#141414] text-8xl font-thin font-['Archivo'] leading-10;
  }
  
  /* Buttons */

  .button-black{
    @apply w-64 h-16 bg-[#0b0b0b] rounded-3xl;
  }
  .button-trp{
    @apply w-52 h-12 rounded-3xl border border-black;
  }

}
